

@font-face {
    font-family: 'big_ten_blockregular';
    src: url('b1g_block2-webfont.woff2') format('woff2'),
         url('b1g_block2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#mapid {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  position: fixed;
  z-index:1;
}

#infoPanel {
  background-color: rgba(31,31,31,.7);

  font-family: "Verdana", sans-serif;
  text-align: center;

  position: absolute;
  left: 700px;
  top: 70px;
  right: 50px;

  z-index: 2;
  float: right;
  border-radius: 25px;
}

#panelHeader {
  font-size: 8pt;
  font-family: "big_ten_blockregular";
  color: white;
  opacity: 100%;
}

#popLabel {
  font-family: "big_ten_blockregular";
  color: white;
  font-size: 10px;
}

#divLabel {
  opacity: 100%;
  font-family: "big_ten_blockregular";
  color: white;
  font-size: 10px;
}

#bigTenLogo {
  opacity: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;
}

#bodyText {
  opacity: 100%;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  color: white;
}

#slider {
    width: 70%;
    padding: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

#studntPop {
  display: inline-block;
  padding: 120px;
  line-height: 20px;
}

#divScale {
  display: inline-block;
  padding: 120px;
  line-height: 25px;
}

.range-slider {
    width: 70%;
}

.step {
	width: 20%;
}

.step img {
	width: 100%;
}


#forward {
    float: right;
    width: 13%
}

#backward {
    float: left;
    width: 13%
}
.leaflet-popup-content p {
    margin: 0.2em 0;
}

#legend {
  color: white;
  font-weight: bold;
}


#lgndImg {
  opacity: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 200px;
}
